* {
  margin: 0;
}

div {
  border: 1px solid black;
}

.viewport {
  height: 100vh;
  width: 100vw;
}

.container {
  padding: 50px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
}

.card,
.add {
  height: 150px;
  flex-direction: column;
  grid-column: span 2;
}

.add {
  grid-column: span 4;
}

.card,
.add,
.title,
.author,
.pages,
.read,
.create,
.form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title,
.author {
  flex: 2;
}

.pages,
.read,
.remove {
  flex: 1;
}

.title {
  font-size: larger;
}

.author {
  font-size: large;
}

.remove,
.close {
  margin: 10px;
}

.remove:hover,
.create:hover,
.close:hover {
  cursor: pointer;
  background-color: whitesmoke;
}

.create {
  height: 40px;
  width: 200px;
}

.popupForm {
  height: 400px;
  width: 300px;
  display: none;
  position: fixed;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
  background-color: whitesmoke;
}

.form {
  margin-top: 20px;
  flex-direction: column;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.button {
  display: flex;
  justify-content: center;
}

.bookTitle,
.bookAuthor,
.bookPages,
.haveYouRead,
.button,
.submit,
.close {
  padding: 10px;
}
